body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.image {
  width: 300px;
}

.disabled {
  color: gray;
}

.button:hover {
  cursor: pointer;
}
