body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.image {
  width: 300px;
}

.disabled {
  color: gray;
}

.button:hover {
  cursor: pointer;
}

.table-header {
  background-color: #5d5fe7;
  color: #ffffff;
}

.keyword-duplicated {
  color: #e27a2f;
}

.keyword-empty {
  background-color: #d5d5d5;
  color: #282828;
}

.table-cell {
  max-width: 199px;
  width: 100%;
  border: 1px solid #a6a6a6;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  font-size: 12px;
}

th {

}

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: .85em 1em;
  border: 1px solid transparent;
  -webkit-transition: background-color .25s ease-out,color .25s ease-out;
  transition: background-color .25s ease-out,color .25s ease-out;
  font-family: inherit;
  font-size: .9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  border-radius: 17px;
  background-color: #5d5fef;
}
